<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Student Feedback system." />
  <link rel="icon" href="./favicon.ico" />
  <link rel="stylesheet" href="/nav.css">
  <title>Edit Feedback</title>
  <style>
    Body {
      font-family: Calibri, Helvetica, sans-serif;
      margin: 0;
    }

    .border {
      display: inline-block;
      border: 3px solid black;
      padding: 10px;
    }

    .border:hover {
      border: 3px solid red;
    }

    #box {
      cursor: pointer;
      color: black;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="topnav">
    <a href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <div class="topnav-right">
      <a href="#search">Search</a>
      <a href="/signout">
        Sign out
      </a>
    </div>
  </div>
  <h1>Select a feedback to edit:</h1>
  <h2>
    <ul>
      <% for(var feedback of data){ %>
        <a id="box" href=" <%= '/edit/' + feedback.id %> ">
          <h3 class="border">
            For teacher: <%= feedback.name %><br />
              Today's rating you gave: <%= feedback.rating %>
          </h3>
        </a>
        <br />
        <%}%>
    </ul>
  </h2>
  <a href="/">
    <button>Home</button>
  </a>
</body>

</html>